@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Martel:wght@800&display=swap');

body {
  background: antiquewhite;
  margin: 0 auto;
  display: flex;
  flex-flow: row;
  justify-content: center;
}

.page {
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-content: center;
  width: 100vw;
  height: 100vh;
  font-family: 'Roboto', sans-serif;

}

@media screen and (min-width:  900px){
  .page{
    width: 80vw;
  } 
}
@media screen and (min-width:  1100px){
  .page{
    width: 70vw;
  } 
}

.titleHolder {
  display: inherit;
  flex-flow: column wrap;
  align-content: center;
  justify-content: center;
  width: 100%;
  height: 13%;
  /*border: thin black solid;*/
}
.title {
  font-family: 'Martel', serif;
  font-size: 300%;
}

.dealerHolder {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 20%;
}

.playerHolder {
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 60%; 
  column-gap: 10px;
  /*border: thin red solid;*/
}

/*.playerHolder:nth-child(3){
  align-self: flex-start;
}*/
.player {
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  color: darkred;
  width: 25%;
  height: 40%;
}
.extraCardsHolder {
  position: relative;
  display: flex;
  flex-flow: row;
  width: 100%;
  height: auto;
}

.extraCard {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -100%);
}
.extraCard:nth-child(even) {
  left: 60%;
}

.cardHolder {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50%;
}
.dealerHolder .cardHolder {
  width: 30%;
}
.dealerCards {
  display: flex;
  flex-flow: row;
  justify-content: space-around;
}

.wager {
  font-family: 'Martel', serif;
  /*border: thin blue solid;*/
  transform: translate(0%, 50%);
  color: black;
}
.placeWagerPrompt {
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  align-items: center;
  /*border: thin black solid;*/
  gap: 5px;
}
.incrementWagerHolder {
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  width: 100%;
}
.incrementButton {
  width: 48%;
  background: green;
  color: white;
}
.minus {
  background: red;
}
.placeWagerButton {
  background: whitesmoke;
  width: 100%;
  padding-top: 5px;
  padding-left: 25px;
  padding-right: 25px;
  border-radius: 10px;
  font-family: 'Martel', serif;
}

.card {
  width: 45%;
  height: 90%;
  border: thin blue solid;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.valueHolder {
  display: flex;
  flex-flow: row;
  justify-content: center;
  width: 25%;
  height: 100%;
  /*border: thin black solid;*/
  padding-top: 10px;

}
.value {
  color: black;
  font-size: 120%;
  font-family: 'Martel', serif;  
}

.optionHolder {
  width: 70%;
  height: auto;
  display: flex;
  flex-flow: row;
  justify-content: center;
  column-gap: 3%;
}
.option {
  font-family: 'Martel', serif;
  color: black;
}
.optionButton {
  background-color: whitesmoke;
}


